:root {
  --black: #101828;
  --black-02: rgba(16, 24, 40, 0.2);
  --gray: #475467;
  --gray-02: rgba(71, 84, 103, 0.2);
  --yellow: #ffc531;
  --white-dark: #f2f4f7;
  --white-light: #f7f7f7;
  /* --background-color: #ffffff; */
  /* --background-color: ##fffdd0; */
  --red-button: #e44848;
  --red-btn-hover: #d84343;

  /* /* color: rgba(255, 255, 255, 0.87); */
  background-color: #d5c8a4;

  font-family: 'Inter', sans-serif;
  color: var(--black);
}

a,
html,
body,
div,
nav,
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 24px;
}
